In [1]:
print("hello world")

hello world

In [8]:
name="sahil" 
age="55"
print(name)
print(age)

sahil
55

In [23]:
name = input("what is your name? ")
print(name)

what is your name?  1

TypeError: 'str' object is not callable

In [24]:
old_age = input("enter ur old_age : ")
new_age = int(old_age) + 2
print(new_age)

enter ur old_age :  22

TypeError: 'str' object is not callable

In [44]:
i=1
while i<= 10:
    print(i

SyntaxError: incomplete input (3555449740.py, line 3)

In [1]:
a = "sahil"
b = "23"
c = "0"
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
a = ["sahil" , "maanav" , "sujal"]
name = input("enter ur name")
if(name in a):
    print("present")
else:
    print("not present")

enter ur name Sahil

not present

In [38]:
marks = int(input("enter ur marks"))

if(marks<=100 and marks>=90):
    print("ex")
if(marks<=90 and marks>=80):
    print("a")
if(marks<=80 and marks>=70):
    print("b")
else:
    print("not available")

enter ur marks 89

a
not available

In [52]:
post = input("enter the post ")
if("sahil" in post):
    print("present")
else:
    print("not present")

enter the post  hi there is sahil

present

In [66]:
def avg():
    a = int(input("enter the number"))
    b = int(input("enter the number"))
    c = int(input("enter the number"))

    average = (a+b+c)/3
    print(average)
avg()
print("thankyou")
avg()

enter the number 4
enter the number 5
enter the number 6

5.0
thankyou

enter the number 55
enter the number 5
enter the number 5

21.666666666666668

In [74]:
var1 = 33
type(var1)

int

In [76]:
var1 = 33
var1

33

va

In [78]:
var1 = 1.440
type(var1)

float

In [80]:
a,b = 10,30
a+b

40

In [82]:
var1 = 22.4
type(var1)

float

In [96]:
st = "mynname is sahil "
f = open("file.io","w")
f.write(st)
f.close()

In [104]:
class employe():
    name = "hary"
    lang = "telugu"
    salary = 12000
harry = employe()
print(harry.name,harry.lang)

hary telugu

In [130]:
class worker():
    company = "microsoft"
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age 
        self.salary = salary
w = worker("sahil",24,240000)
print(w.name ,w.age ,w.salary ,w.company)

sahil 24 240000 microsoft

In [196]:
class calculator():
     def __init__(self, n):
         self.n = n
     def square(self):
        print(f"the square is {self.n*self.n}")
a = calculator(4)
a.square()

the square is 16

In [ ]:
a = int(input("enter"))
b = int(input("enter"))
c = int(input("enter"))

#addition
a =

In [1]:
import random
guess_number = random.randint(1,100)
user_input = int(input("enter the number btw 1 to 100 :"))
if not isinstance(user_input, int) :
  print("invalid input")
elif guess_number >= 30:
  print("too high ")
elif guess_number <= 30:
  print("too low")
else:
  print("well done ")

enter the number btw 1 to 100 : 77

too high

In [3]:
import random
guess_number = random.randint(1,100)
try:
  user_input = int(input("enter the number btw 1 to 100 :"))
  if guess_number >= 30:
  print("too high ")
  elif guess_number <= 30:
  print("too low")
  else:
  print("well done ")
except:
  print("invalid input")

IndentationError: expected an indented block after 'if' statement on line 5 (3818960372.py, line 6)

In [5]:

import random
guess_number = random.randint(1,100)
try:
  user = int(input("enter the number btw 1 to 100 :"))
  if user >= guess_number:
  print("too high ")
  elif user <= guess_number:
  print("too low")
  else:
  print("well done ")
except:
  print("invalid input")

IndentationError: expected an indented block after 'if' statement on line 5 (3945341201.py, line 6)

In [1]:
menu = {
    'pizza':40,
    'burger':90,
    'pasta':110,
    'chicken':150,
    'mutton':69
}
print("welcome to our restaurant here is the menu :")
print("pizza 40 ")
print("burger 90")
print("pasta 110")
print("chicken 150")
print("mutton 69")

order_total = 0

item1 = input("enter your dish = ")
if item1 in menu:
  order_total = item1
  print("order has been taken")
else:
  print("sorry not available ")
another_order = input("do you want any another dish (yes/no)")
if another_order == "yes":
  item2 = input(("what else you want to order :"))
else:
  print("sorry not available ")
print("okayy thankyou for visiting")

welcome to our restaurant here is the menu :
pizza 40
burger 90
pasta 110
chicken 150
mutton 69

enter your dish =  dd

sorry not available

do you want any another dish (yes/no) n

sorry not available
okayy thankyou for visiting

In [15]:
a = int(input("enter any number"))
cube = a*a*a
square = a*a
print(f' the square  and the cube of the given number is {square}, {cube}')

enter any number 7

 the square  and the cube of the given number is 49, 343

In [ ]:
l =